.no-select {
    user-select: none;
}

.can-select {
    user-select: all;
}

.blue {
    color: #45A3FB;
}

textarea {
    resize: none;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}