.no-select {
    user-select: none;
}

.can-select {
    user-select: all;
}

.blue {
    color: #45A3FB;
}

textarea {
    resize: none;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.progress {
    height: 15px;
}

.progress-bar {
    height: 15px;
}

body.hide-overflow {
    overflow: hidden;
}

.loading-spinner {
    display: inline-block;
    position: relative;
    width: 17px;
    height: 17px;
}

.loading-spinner:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin-top: 6px;
    box-sizing: border-box;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: spinner 1.2s infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

div.button-box {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

i#password-toggle {
    margin-right: 10px;
}

i#password-toggle:hover {
    cursor: pointer;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    pointer-events: none;
}