div.bg-row{
}

div.bg-container{
    z-index: -1;
    width: 160px;
    position: absolute;
}

span.block {
    position: relative;
    width: 20px;
    height: 20px;
    float: left;
    transition: background-color .5s ease-in-out;
}